@page
@model PlaceholderModel
@{
    ViewData["Title"] = "Database Placeholder";
}
<h1>@ViewData["Title"]</h1>

<div>
    <p>This is a placeholder for later. TODO: Make a database and implement a frontend!</p>
</div>
