@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<html>
<body>
    <div class="container">
        <div class="webdevtitle">12TPI WebDev Assessment</div>
        <div class="subtext">This is a pretty bad placeholder.</div>
    </div>

</body>
</html>