@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Look, this website doesn't even have a decent style-sheet. Do you honestly think I can be arsed selling your data to advertisers?</p>
